<html>
  <head>
    <h1>
      HOLAAA
    </h1>
  </head>
  <body>
    <h3>
      bodyyyy
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
      </div>
    </h3>
  </body>
</html>