 <html>
  <h1 class="claseUno">
    pestaña inicio, HEROKU TEST
   
  </h1>
  <div class="col-md-6 col-md-offset-4">
     <div class="panel panel-default">
        <div class="panel-body">
          <img src="minions.jpg" alt="Logo">
        </div>
        <div class="panel-footer">SEDAN 2017, minion</div>
     </div>
  </div>
   <div class="col-md-6 col-md-offset-4">
     <div class="panel panel-default">
        <div class="panel-body">
          <img src="minions.jpg" alt="Logo">
        </div>
        <div class="panel-footer">SEDAN 2017, minion</div>
     </div>
  </div>
   <div class="col-md-6 col-md-offset-4">
     <div class="panel panel-default">
        <div class="panel-body">
          <img src="minions.jpg" alt="Logo">
        </div>
        <div class="panel-footer">SEDAN 2017, minion</div>
     </div>
  </div>
</html>