 <html>
  <h1 class="claseUno">
    pestaña inicio, HEROKU TEST
   
  </h1>
  <body>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1664.1675816410404!2d-70.6762613418712!3d-33.46662369519238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c4e152b77d55%3A0x7db774e4697a9e3c!2sAntofagasta+3034%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1544410675947" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </body>
  <div class="col-md-6 col-md-offset-4">
     <div class="panel panel-default">
        <div class="panel-body">
          <img src="minions.jpg" alt="Logo">
        </div>
        <div class="panel-footer">SEDAN 2017, minion</div>
     </div>
  </div>
   <div class="col-md-6 col-md-offset-4">
     <div class="panel panel-default">
        <div class="panel-body">
          <img src="minions.jpg" alt="Logo">
        </div>
        <div class="panel-footer">SEDAN 2017, minion</div>
     </div>
  </div>
   <div class="col-md-6 col-md-offset-4">
     <div class="panel panel-default">
        <div class="panel-body">
          <img src="minions.jpg" alt="Logo">
        </div>
        <div class="panel-footer">SEDAN 2017, minion</div>
     </div>
  </div>
</html>